.cache
.coverage
.coverage.*
.devcontainer
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.Python
.states
.tox
.venv
.vscode
.web
*.cover
*.log
*.so
*.sql
**/__pycache__/
**/*.pyc
**/*.pyd
**/*.pyo
assets/external/*
coverage.xml
docs
infra
Makefile
nosetests.xml
scripts
Taskfile.yml
tests
